<div class="row">
  <div class="small-12 columns">
    <div class="headline">
      <h2 class="tk-bebas-neue">Tweet Your Thoughts. <b>Make It Rain</b></h2>
    </div>
  </div>
  <div class="small-12 columns">
    <%= render "layouts/messages" %>
  </div> 
  <div class="small-12 columns message">
    <%= form_for @tweet do |f| %>
      <%= f.text_area :body, placeholder: 'Brella lets you type as much as you want, and then intelligently breaks it up into multiple tweets. You can tell a short story, or go on a rant. We’ll break it down for you, so you can keep typing, and tweeting without worrying if you’re going to go over the amount of space Twitter gives you.' 
      %>
      <%= f.submit "Send Tweets", class: "button submit expand tk-bebas-neue" %>
    <% end %>
  </div>
</div>