<div id="bgimage">
  <div class="row">
    <div class="small-6 large-centered columns">
      <a href="#" class="button">Sign up with Twitter</a>
      <div class="small-4 columns">
        <textarea style="width:450px; height:500px;" placeholder="ZestyTweet lets you type as much as you
  want, and then intelligently breaks it up
  into multiple tweets. 

  You can tell a short story, or go on a rant.
  We’ll break it down for you, so you can 
  keep typing, and tweeting without 
  worrying if you’re going to go over the 
  amount of space Twitter gives you. "></textarea>
      </div>
      <div class="small-4 columns">

      </div>
  </div>
</div>