h5 {
	font-size: 10px !important;
}

.top-bar {
	background-color: rgba(151, 151, 151, 0.3) !important;
	height: 140px !important;
	border-bottom: 1px solid #979797;
}

.login-button, .login-button p {
	border: 1px solid #ffffff;
	border-radius: 5px;
	color: #ffffff;
	background-color: #F76B1C;
}

.logo-name{
	color: #ffffff !important;
	margin-left: 60px;
}

#space {
	padding: 12px 0 0 0;
}

#space img, {
	padding: 0px 20px !important;
}

.cta-area {
	padding: 45px 0px;
}

.cta {
	border: 1px solid #3023AE !important;
	border-radius: 5px !important;
	box-shadow: 2px 2px 1px #3023AE;
	background: -webkit-linear-gradient(45deg, rgba(48, 35, 174, 1), rgba(200, 109, 215, 1)) !important; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(45deg, rgba(48, 35, 174, 1), rgba(200, 109, 215, 1)) !important; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(45deg, rgba(48, 35, 174, 1), rgba(200, 109, 215, 1)) !important; /* For Firefox 3.6 to 15 */
  background: linear-gradient(45deg, rgba(48, 35, 174, 1), rgba(200, 109, 215, 1)) !important; /* Standard syntax */
}

.cta:hover {
	border: 1px solid #3023AE !important;
	box-shadow: none !important;
}

body {
	background-image: url("picjumbo_IMG_4953.jpg") !important;
	background-size: cover !important;
}

body:before {
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	background: -webkit-linear-gradient(rgba(250, 217, 97, 0.7), rgba(247, 107, 28, 0.8)) !important; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(250, 217, 97, 0.7), rgba(247, 107, 28, 0.8)) !important; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(250, 217, 97, 0.7), rgba(247, 107, 28, 0.8)) !important; /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(250, 217, 97, 0.7), rgba(247, 107, 28, 0.8)) !important; /* Standard syntax */
}

footer {
	max-width: none;
	position: absolute !important;
	bottom: 0 !important;
}

.foot {
	background-color: #F76B1C;
	padding: 20px 30px;
	max-width: none !important;
}