<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <img src="/assets/Logo.png">
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Terms Of Use</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>