<footer class="row foot clearfix">
  <div class="large-6 columns">
    <img src="/assets/Brella-1X.png" height="100%" width="200">
  </div>
  <div class="large-6 columns">
    <ul class="inline-list right">
      <li><a href="#">Contact</a></li>
      <li><a href="#">Terms Of Use</a></li>
    </ul>
  </div>
</footer>