<footer class="row foot">
  <div class="large-12 columns">
      <div class="large-6 columns">
        <img src="/assets/Logo.png" height="100%" width="65">
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Terms Of Use</a></li>
        </ul>
      </div>
  </div>
</footer>