<nav class="top-bar " data-topbar role="navigation">
    <div class="row" id="space">
	    <div class="small-6 columns">
	        <%= image_tag("Logo.png", class: "logo left") %>
	        <h2 class="logo-name">ZestyTweet</h2>
	    </div>
	    <div class="small-6 columns">
				<%= link_to "Login" , "#", class: "login right" %>
	              <!-- put erb conditional if logged in. -->
	    </div>
    </div>
</nav>