<nav class="top-bar " data-topbar role="navigation">
    <div class="row">
	    <div class="small-8 columns">
	        <%= image_tag("Brella-1X.png", class: "brella logo left") %>
	    </div>
	    <div class="small-4 columns">
				<%= link_to "Sign In/Up" , '/auth/twitter', class: "button login right" %>
	              <!-- put erb conditional if logged in. -->
	    </div>
    </div>
</nav>