<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="Logo">
          <img src="/assets/Logo.png">
        </li>
        <ul class="right">
            <li class="active"><a href="#">Login</a></li>
              <!-- put erb conditional if logged in. -->
        </ul>
    </ul>
</nav>